USE [master]
GO
/****** Object:  Database [eLook]    Script Date: 2017/10/6 下午 03:29:34 ******/
CREATE DATABASE [eLook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eLook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\eLook.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'eLook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\eLook_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eLook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eLook]
GO
/****** Object:  Table [dbo].[Ad]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ad](
	[adID] [int] IDENTITY(1001,1) NOT NULL,
	[fileName] [nvarchar](10) NOT NULL,
	[adFile] [varbinary](max) NOT NULL,
	[status] [tinyint] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BuyCourse]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyCourse](
	[memberID] [int] NOT NULL,
	[courseID] [int] NOT NULL,
	[score] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Course]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[courseID] [int] IDENTITY(200001,1) NOT NULL,
	[courseName] [nvarchar](20) NOT NULL,
	[photoName] [varchar](50) NOT NULL,
	[cPhoto] [varbinary](max) NOT NULL,
	[preTool] [nvarchar](50) NULL,
	[background] [nvarchar](50) NULL,
	[ability] [nvarchar](50) NULL,
	[targetgroup] [nvarchar](50) NULL,
	[soldPrice] [int] NOT NULL,
	[courseLength] [int] NULL,
	[targetStudentNumber] [int] NULL,
	[fundStartDate] [date] NULL,
	[fundEndDate] [date] NULL,
	[courseStartDate] [date] NULL,
	[courseVideopathway] [varchar](50) NOT NULL,
	[paper] [varbinary](max) NULL,
	[status] [tinyint] NULL,
	[courseContent] [varchar](max) NULL,
	[memberID] [int] NOT NULL,
	[avgScore] [decimal](2, 1) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CourseClass]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseClass](
	[CourseClassID] [int] IDENTITY(101,1) NOT NULL,
	[ccName] [nvarchar](10) NOT NULL,
	[eventID] [int] NULL,
 CONSTRAINT [PK_CourseClass] PRIMARY KEY CLUSTERED 
(
	[CourseClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CourseClassDetails]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseClassDetails](
	[courseID] [int] NOT NULL,
	[CourseClassID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eLookEvent]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eLookEvent](
	[eventID] [int] IDENTITY(1001,1) NOT NULL,
	[eventName] [nvarchar](20) NOT NULL,
	[ePhoto] [varbinary](max) NULL,
	[eStartDate] [date] NULL,
	[eEndDate] [date] NULL,
	[discount] [decimal](3, 2) NOT NULL,
 CONSTRAINT [PK_eLookEvent] PRIMARY KEY CLUSTERED 
(
	[eventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Member](
	[memberID] [int] IDENTITY(100001,1) NOT NULL,
	[email] [varchar](20) NOT NULL,
	[mPassword] [varchar](10) NOT NULL,
	[mName] [nvarchar](10) NULL,
	[mPhoto] [varbinary](max) NULL,
	[aboutme] [nvarchar](150) NULL,
	[skill] [nvarchar](50) NULL,
	[hobby] [nvarchar](50) NULL,
	[registerDate] [date] NOT NULL,
	[status] [tinyint] NOT NULL,
	[count] [nchar](10) NULL,
	[address] [varchar](50) NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[memberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MemberBookmarks]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberBookmarks](
	[memberID] [int] NOT NULL,
	[courseID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MemberSubscription]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberSubscription](
	[memberID] [int] NOT NULL,
	[memberTrackID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Message]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[messageID] [int] IDENTITY(1001,1) NOT NULL,
	[mContent] [nvarchar](150) NOT NULL,
	[mTime] [datetime] NOT NULL,
	[messageID_response] [int] NULL,
	[memberID] [int] NOT NULL,
	[courseID] [int] NOT NULL,
	[bought] [bigint] NULL,
	[status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[messageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderID] [int] IDENTITY(1001,1) NOT NULL,
	[memberID] [int] NOT NULL,
	[receiptNO] [nchar](10) NULL,
	[orderTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[orderID] [int] NOT NULL,
	[courseID] [int] NOT NULL,
	[buyingPrice] [int] NOT NULL,
	[originalPrice] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReportCourse]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportCourse](
	[reportID] [int] IDENTITY(1001,1) NOT NULL,
	[reportCourseID] [int] NOT NULL,
	[reportMemberID] [int] NOT NULL,
	[reportContent] [nvarchar](50) NOT NULL,
	[reportTime] [datetime] NOT NULL,
	[status] [tinyint] NOT NULL,
 CONSTRAINT [PK_ReportCourse] PRIMARY KEY CLUSTERED 
(
	[reportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReportMessage]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportMessage](
	[reportID] [int] IDENTITY(1001,1) NOT NULL,
	[reportMessageID] [int] NOT NULL,
	[reportMemberID] [int] NOT NULL,
	[reportContent] [nvarchar](50) NOT NULL,
	[reportTime] [datetime] NOT NULL,
	[status] [tinyint] NOT NULL,
 CONSTRAINT [PK_ReportMessage] PRIMARY KEY CLUSTERED 
(
	[reportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Search]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Search](
	[keyWord] [varchar](50) NULL,
	[countWord] [varchar](50) NULL,
	[time] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sponsor]    Script Date: 2017/10/6 下午 03:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sponsor](
	[courseID] [int] NOT NULL,
	[SponsorName] [varchar](50) NULL,
	[money] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[eLookEvent] ADD  CONSTRAINT [DF_eLookEvent_discount]  DEFAULT ((1)) FOR [discount]
GO
ALTER TABLE [dbo].[BuyCourse]  WITH CHECK ADD  CONSTRAINT [FK_BuyCourse_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[BuyCourse] CHECK CONSTRAINT [FK_BuyCourse_Course]
GO
ALTER TABLE [dbo].[BuyCourse]  WITH CHECK ADD  CONSTRAINT [FK_BuyCourse_Member] FOREIGN KEY([memberID])
REFERENCES [dbo].[Member] ([memberID])
GO
ALTER TABLE [dbo].[BuyCourse] CHECK CONSTRAINT [FK_BuyCourse_Member]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Member] FOREIGN KEY([memberID])
REFERENCES [dbo].[Member] ([memberID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Member]
GO
ALTER TABLE [dbo].[CourseClass]  WITH CHECK ADD  CONSTRAINT [FK_CourseClass_eLookEvent] FOREIGN KEY([eventID])
REFERENCES [dbo].[eLookEvent] ([eventID])
GO
ALTER TABLE [dbo].[CourseClass] CHECK CONSTRAINT [FK_CourseClass_eLookEvent]
GO
ALTER TABLE [dbo].[CourseClassDetails]  WITH CHECK ADD  CONSTRAINT [FK_CourseClassDetails_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[CourseClassDetails] CHECK CONSTRAINT [FK_CourseClassDetails_Course]
GO
ALTER TABLE [dbo].[CourseClassDetails]  WITH CHECK ADD  CONSTRAINT [FK_CourseClassDetails_CourseClass] FOREIGN KEY([CourseClassID])
REFERENCES [dbo].[CourseClass] ([CourseClassID])
GO
ALTER TABLE [dbo].[CourseClassDetails] CHECK CONSTRAINT [FK_CourseClassDetails_CourseClass]
GO
ALTER TABLE [dbo].[MemberBookmarks]  WITH CHECK ADD  CONSTRAINT [FK_MemberBookmarks_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[MemberBookmarks] CHECK CONSTRAINT [FK_MemberBookmarks_Course]
GO
ALTER TABLE [dbo].[MemberBookmarks]  WITH CHECK ADD  CONSTRAINT [FK_MemberBookmarks_Member] FOREIGN KEY([memberID])
REFERENCES [dbo].[Member] ([memberID])
GO
ALTER TABLE [dbo].[MemberBookmarks] CHECK CONSTRAINT [FK_MemberBookmarks_Member]
GO
ALTER TABLE [dbo].[MemberSubscription]  WITH CHECK ADD  CONSTRAINT [FK_MemberSubscription_Member] FOREIGN KEY([memberID])
REFERENCES [dbo].[Member] ([memberID])
GO
ALTER TABLE [dbo].[MemberSubscription] CHECK CONSTRAINT [FK_MemberSubscription_Member]
GO
ALTER TABLE [dbo].[MemberSubscription]  WITH CHECK ADD  CONSTRAINT [FK_MemberSubscription_Member1] FOREIGN KEY([memberTrackID])
REFERENCES [dbo].[Member] ([memberID])
GO
ALTER TABLE [dbo].[MemberSubscription] CHECK CONSTRAINT [FK_MemberSubscription_Member1]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Course]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Member] FOREIGN KEY([memberID])
REFERENCES [dbo].[Member] ([memberID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Member]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Message] FOREIGN KEY([messageID_response])
REFERENCES [dbo].[Message] ([messageID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Message]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Member] FOREIGN KEY([memberID])
REFERENCES [dbo].[Member] ([memberID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Member]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Course]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[ReportCourse]  WITH CHECK ADD  CONSTRAINT [FK_ReportCourse_Course] FOREIGN KEY([reportCourseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[ReportCourse] CHECK CONSTRAINT [FK_ReportCourse_Course]
GO
ALTER TABLE [dbo].[ReportCourse]  WITH CHECK ADD  CONSTRAINT [FK_ReportCourse_Member] FOREIGN KEY([reportMemberID])
REFERENCES [dbo].[Member] ([memberID])
GO
ALTER TABLE [dbo].[ReportCourse] CHECK CONSTRAINT [FK_ReportCourse_Member]
GO
ALTER TABLE [dbo].[ReportMessage]  WITH CHECK ADD  CONSTRAINT [FK_ReportMessage_Member] FOREIGN KEY([reportMemberID])
REFERENCES [dbo].[Member] ([memberID])
GO
ALTER TABLE [dbo].[ReportMessage] CHECK CONSTRAINT [FK_ReportMessage_Member]
GO
ALTER TABLE [dbo].[ReportMessage]  WITH CHECK ADD  CONSTRAINT [FK_ReportMessage_Message] FOREIGN KEY([reportMessageID])
REFERENCES [dbo].[Message] ([messageID])
GO
ALTER TABLE [dbo].[ReportMessage] CHECK CONSTRAINT [FK_ReportMessage_Message]
GO
ALTER TABLE [dbo].[Sponsor]  WITH CHECK ADD  CONSTRAINT [FK_sponsor_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Sponsor] CHECK CONSTRAINT [FK_sponsor_Course]
GO
USE [master]
GO
